@media (min-width: 1200px) {
	.aboutMeContentContainer {
		display: flex;
		flex-direction: column;
		width: 60%;
		justify-self: right;
		row-gap: 35px;
	}

	.aboutMeImageContainer {
		position: fixed;
		top: 30%;
		left: 60%;
	}

	.aboutMeImageContainer img {
		object-fit: scale-down;
		width: 350px;
	}
}

@media (max-width: 1200px) {
	.aboutMeIntroContainer {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}

	.aboutMeTextContainer {
		grid-column: 1;
		grid-row: 1;
	}

	.aboutMeImageContainer img {
		object-fit: scale-down;
		width: 70%;
	}

	.aboutMeImageContainer {
		grid-column: 2;
		grid-row: 1;
		display: flex;
		justify-content: center;
	}
}

@media (max-width: 767px) {
	.aboutMeIntroContainer {
		display: flex;
		flex-direction: column;
		row-gap: 15px;
	}
	.aboutMeImageContainer img {
		width: 55%;
	}
	.aboutMeImageContainer {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

.professionalLinks {
	display: flex;
	flex-direction: row;
	column-gap: 35px;
}

.professionalLinks a {
	text-decoration: none;
}
