/* Intro Section*/
.introContainer {
	display: grid;
	grid-template-columns: 1fr, 1fr;
}

.introTextContainer {
	grid-column: 1;
	width: 70%;
	margin-top: auto;
	margin-bottom: auto;
}

.projectContents a {
	text-decoration: none;
	margin: 0;
	padding: 0;
}

.introTextContainer p {
	margin-left: 20%;
	font-size: 1.5em;
}

.introImageContainer {
	grid-column: 2;
	display: flex;
	justify-content: center;
}

.introImageContainer img {
	/* Styling */
	object-fit: scale-down;
	width: 400px;
}

.introContainer h1 {
	margin-bottom: 0;
}

.projectContainer * {
	margin-top: 10px;
	margin-bottom: 0;
}

.projectContainer button {
	margin-top: 25px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	align-self: flex-end;
}

.projectContainer {
	display: flex;
	min-height: 20vh;
	background-color: rgba(255, 255, 255, 0.4);
	box-shadow: 10px 10px 12px 0 rgba(126, 126, 126, 0.2),
		-10px -10px 25px 0 rgba(228, 228, 228, 0.3);
	border-radius: 8px;
	border: 1px solid whitesmoke;
	padding: 2em;
}

.projectSection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 35px;
}

@media (min-width: 1200px) {
	.projectContainer {
		justify-content: space-between;
	}
	.projectContents {
		padding-left: 3em;
		display: flex;
		flex-direction: column;
	}

	.projectContents button {
		margin-top: auto;
	}

	.projectImage {
		/* Positioning */
		align-self: left;
		width: 60%;
		object-fit: fill;
	}
}

@media (max-width: 1200px) {
	.projectContainer {
		/* Grid Template */
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		/* Styling */
		background-color: rgba(255, 255, 255, 0.4);
		box-shadow: 10px 10px 12px 0 rgba(126, 126, 126, 0.2),
			-10px -10px 25px 0 rgba(228, 228, 228, 0.3);
		border-radius: 8px;
		border: 1px solid whitesmoke;
		padding: 2em;
	}

	.projectImage {
		/* Positioning */
		align-self: center;
		width: 100%;
		object-fit: fill;
	}

	.projectTitle {
		margin-bottom: 0;
	}
}

@media (max-width: 767px) {
	.introContainer {
		display: flex;
		flex-direction: column;
		column-gap: 15px;
		margin: 0;
	}

	.introTextContainer {
		display: flex;
		flex-direction: column;
		align-self: center;
		text-align: center;
	}

	.introTextContainer p {
		margin-left: 0px;
		font-size: 1em;
	}

	.introImageContainer {
		width: 100%;
		display: flex;
		justify-self: center;
	}
	.introImageContainer img {
		width: 100%;
	}
}
