@import '/CSS/navigation.css';
@import '/CSS/buttons.css';
@import '/CSS/home-style.css';
@import '/CSS/project-style.css';
@import '/CSS/about-me-style.css';
@import '/CSS/logo-svg.css';
@import '/CSS/animations.css';

body {
	margin: 0;
	background-color: #ededeb;
}

@media (min-width: 550px) {
	.container {
		margin-top: 5%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10vh;
		max-width: 1000px;
		width: 80%;
		display: flex;
		flex-direction: column;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'ivypresto-display', serif;
		font-weight: 600;
		line-height: 1.3;
	}

	h1 {
		font-size: 3em;
	}

	h2 {
		font-size: 2.5em;
	}

	h3 {
		font-size: 2em;
	}

	h4 {
		font-size: 1.5em;
	}

	b {
		font-weight: bold;
	}

	:not(h1):not(h2):not(h3):not(h4):not(h5):not(a):not(li b),
	li {
		font-family: 'lato', sans-serif;
		font-size: 1.03em;
		font-weight: 300;
		line-height: 1.575em;
		letter-spacing: 0.035em;
	}

	li {
		margin-bottom: 35px; /* same as about me row gap*/
	}

	li b {
		font-family: 'lato', sans-serif;
		font-weight: 600;
		font-size: 1.03em;
		line-height: 1.575em;
		letter-spacing: 0.035em;
	}
}

@media (max-width: 900px) {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'ivypresto-display', serif;
		font-weight: 600;
		line-height: 1.3;
	}

	h1 {
		font-size: 2.5m;
	}

	h2 {
		font-size: 2.2em;
	}

	h3 {
		font-size: 1.9em;
	}

	h4 {
		font-size: 1.6em;
	}

	:not(h1):not(h2):not(h3):not(h4):not(h5):not(a):not(li b),
	li {
		font-family: 'lato', sans-serif;
		font-size: 1em;
		font-weight: 300;
		line-height: 1.425em;
		letter-spacing: 0.035em;
	}

	li {
		margin-bottom: 15px; /* same as about me row gap*/
	}

	li b {
		font-family: 'lato', sans-serif;
		font-weight: 600;
		font-size: 1em;
		line-height: 1.425em;
		letter-spacing: 0.035em;
	}

	@media (max-width: 550px) {
		.container {
			margin-top: 5%;
			margin-left: auto;
			margin-right: auto;
			max-width: 400px;
			width: 80%;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-family: 'ivypresto-display', serif;
			font-weight: 600;
			line-height: 1.425;
		}

		h1 {
			font-size: 2em;
		}

		h2 {
			font-size: 1.7em;
		}

		h3 {
			font-size: 1.4em;
		}

		h4 {
			font-size: 1.1em;
		}

		:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(a):not(li b),
		li {
			font-family: 'lato', sans-serif;
			font-size: 1em;
			font-weight: 300;
			line-height: 1.325em;
			letter-spacing: 0.035em;
		}

		li {
			margin-bottom: 15px; /* same as about me row gap*/
		}

		li b {
			font-family: 'lato', sans-serif;
			font-weight: 600;
			font-size: 0.95em;
			line-height: 1.25em;
			letter-spacing: 0.035em;
		}
	}
}

.underline-link {
	font-weight: 500;
	border-bottom: 1px solid #fcacdc;
	box-shadow: inset 0 -7px 0 #fcacdc;
	color: black;
	text-decoration: none;
	transition: all 0.25s ease-in-out;
	padding: 2px 2px 0 2px;
}

.underline-link:hover {
	background-color: #fcacdc;
}

footer {
	width: 100%;
	text-align: center;
	margin-bottom: 10vh;
	margin-top: 10vh;
}

footer p {
	margin: 0;
}
