
/* Animations */
@keyframes ColorLoop {
	from {
		color: #fcacdc;
		fill: #fcacdc;
	}
	25% {
		color: #8462a2;
		fill: #8462a2;
	}
	50% {
		color: #f27e9d;
		fill: #f27e9d;
	}
	75% {
		color: #f2a71b;
		fill: #f2a71b;
	}
	to {
		color: #fcacdc;
		fill: #fcacdc;
	}
}

@keyframes ColorLoopBetween {
	from {
		color: #c087bf;
		fill: #c087bf;
	}
	25% {
		color: #bb70a0;
		fill: #bb70a0;
	}
	50% {
		color: #f2935c;
		fill: #f2935c;
	}
	75% {
		color: #f7aa7c;
		fill: #f7aa7c;
	}
	to {
		color: #c087bf;
		fill: #c087bf;
	}
}

@keyframes ColorLoopReverse {
	from {
		color: #8462a2;
		fill: #8462a2;
	}
	25% {
		color: #f27e9d;
		fill: #f27e9d;
	}
	50% {
		color: #f2a71b;
		fill: #f2a71b;
	}
	75% {
		color: #fcacdc;
		fill: #fcacdc;
	}
	to {
		color: #8462a2;
		fill: #8462a2;
	}
}

@keyframes ColorLoopBorder {
	from {
		border: #fcacdc;
	}
	25% {
		border: #8462a2;
	}
	50% {
		border: #f2a71b;
	}
	75% {
		border: #f27e9d;
	}
	to {
		border: #fcacdc;
	}
}

@keyframes ColorLoopButton {
	from {
		background-color: #fcacdc;
	}
	25% {
		background-color: #8462a2;
	}
	50% {
		background-color: #f2a71b;
	}
	75% {
		background-color: #f27e9d;
	}
	to {
		background-color: #fcacdc;
	}
}

@keyframes wavy-slide {
	to {
		margin-left: -51%;
	}
}